* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: initial; }

i {
  padding-right: .5rem;
  padding-left: .5rem; }

html {
  font-size: 10px; }

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.4rem; }

.header_wrapper {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #deb15a;
  -webkit-box-shadow: 0px 2px 10px grey;
  box-shadow: 0px 2px 10px grey; }

.header {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100%;
  color: #4b3b1a;
  font-size: 1.4rem; }
  .header__logo {
    -webkit-align-self: center;
      -webkit-align-self-align-self: center;
    -webkit-flex-basis: 130px;
    flex-basis: 130px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0; }
    .header__logo_link span {
      font-size: 2.9rem;
      color: #4b3b1a; }
  .header__nav {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 100%;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex-basis: 900px;
    flex-basis: 900px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500; }
    .header__nav li.active a {
      color: #FFF; }
    .header__nav li:hover a {
      color: #FFF; }
  .header__notice {
    display: flex;
    -webkit-justify-content: space-between;
      -webkit-justify-content-justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    height: 100%; }
  .header__button {
    padding: 1rem .8rem;
    background-color: transparent;
    border-color: transparent;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px grey;
    box-shadow: 0px 0px 5px grey; }
    .header__button:hover {
      box-shadow: 1px 1px 5px grey; }
    .header__button a {
      font-size: 1.4rem;
      text-transform: uppercase; }
    .header__button_user {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;
      box-shadow: 0px 0px 5px grey; }
      .header__button_user:hover {
        box-shadow: 1px 1px 5px grey; }

.user-settings {
  position: relative;
  display: none;
  -webkit-align-items: center;
  align-items: center;
  margin: 1rem auto;
  width: 70%;
  background: #bd9441;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 1rem;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.5rem; }
  .user-settings li a {
    text-transform: uppercase; }
    .user-settings li a:hover {
      color: white; }

.content_wrapper {
  width: 100%;
  height: 600px;
  background-color: #F5F4F4; }

.content {
  position: relative;
  margin: 1rem auto;
  max-width: 1200px;
  min-height: 500px;
  background-color: #fff;
  padding-left: 2rem;
  padding-right: 2rem; }
  .content:after {
    position: absolute;
    top: 82px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #f3f5f7; }
  .content__header {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-top: 3rem;
    text-transform: uppercase; }

.header__status {
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1; }
  .header__status_item {
    position: relative;
    margin-right: 10%;
    margin-left: 5%;
    padding-bottom: .5rem; }
  .header__status_btn {
    color: #4b3b1a;
    text-transform: uppercase;
    padding: 1rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 1.6rem;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s; }
    .header__status_btn.active {
      color: #76ac5c;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      -ms-transition: all .6s;
      -o-transition: all .6s;
      transition: all .6s; }
      .header__status_btn.active:after {
        content: "";
        position: absolute;
        bottom: -11%;
        left: -75%;
        width: 250%;
        height: 4px;
        background-color: #76ac5c;
        -webkit-border-radius: 5px;
        border-radius: 5px; }

.subheader {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 4rem;
  font-weight: 500;
  text-align: center; }
  .subheader__title {
    -webkit-flex-basis: 313px;
    flex-basis: 313px; }
  .subheader__deadline {
    -webkit-flex-basis: 250px;
    flex-basis: 250px; }
  .subheader__status {
    -webkit-flex-basis: 100px;
    flex-basis: 100px; }
  .subheader__assigned {
    -webkit-flex-basis: 200px;
    flex-basis: 200px; }
  .subheader__price {
    -webkit-flex-basis: 100px;
    flex-basis: 100px; }
  .subheader__id {
    -webkit-flex-basis: 100px;
    flex-basis: 100px; }
  .subheader a {
    color: #838c96; }

.sprint {
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #f3f5f7;
  margin-top: 1rem;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid transparent;
  border-left-color: #b4d0a9;
  text-align: center; }
  .sprint__status:first-letter {
    text-transform: uppercase; }
  .sprint__status_bidding {
    border-left-color: #cceef7; }
  .sprint__status_canceled {
    border-left-color: #cfbbaf;
    opacity: 0.5; }
  .sprint__status_finished {
    border-left-color: #101867; }
  .sprint__name {
    -webkit-flex-basis: 313px;
    flex-basis: 313px;
    text-align: left; }
  .sprint__category {
    color: #838c96;
    margin-top: 1rem; }
  .sprint__date {
    -webkit-flex-basis: 120px;
    flex-basis: 120px; }
  .sprint__timeleft {
    margin-top: 1rem;
    color: #838c96; }
  .sprint__state {
    -webkit-flex-basis: 163px;
    flex-basis: 163px;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .sprint__assigned {
    display: flex;
    -webkit-flex-basis: 100px;
    flex-basis: 100px; }
  .sprint__descr {
    padding-top: 5%; }
    .sprint__descr_rating {
      padding-top: 15%; }
  .sprint__price {
    -webkit-flex-basis: 70px;
    flex-basis: 70px; }
    .sprint__price_paid {
      color: #838c96;
      margin-top: 1rem; }
  .sprint__id {
    -webkit-flex-basis: 50px;
    flex-basis: 50px; }

.status-bar {
  position: relative;
  width: 100%;
  height: 1rem;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 1rem;
  overflow: hidden;
  background-color: #999; }
  .status-bar__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #76ac5c; }

.sprint__status_bidding .status-bar__inner {
  background-color: #a6e7f7; }

.sprint__status_canceled .status-bar__inner {
  background-color: #cfbbaf; }

.sprint__status_finished .status-bar__inner {
  background-color: #101867; }
